sf-template.json
{
  "Comment": "A State Machine to Run a Crawler",
  "StartAt": "Run-CSV-Crawler",
  "States": {
    "Run-CSV-Crawler": {
      "Type": "Task",
      "Resource": "<FILL_THIS>",
      "Next": "Check-CSV-Crawler-State"
    },
    "Check-CSV-Crawler-State": {
      "Type": "Task",
      "Resource": "<FILL_THIS>",
      "Next": "Is CSV Crawler Done?"
    },
    "Is CSV Crawler Done?":{
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.crawler_state",
          "StringEquals": "READY",
          "Next": "Notify-Queue"
        },
        {
          "Variable": "$.crawler_state",
          "StringEquals": "RUNNING",
          "Next": "Wait-1-Minute"
        },
        {
          "Variable": "$.crawler_state",
          "StringEquals": "STOPPING",
          "Next": "Notify-Queue"
        }
      ],"Default": "Exacution-Failed"
    },
    "Notify-Queue":{
      "Type": "Task",
      "Resource": "<FILL_THIS>",
      "Next": "Exacution-Succeeded"
    },
    "Wait-1-Minute": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "Check-CSV-Crawler-State"
    },  
    "Exacution-Failed":{
      "Type": "Fail",
      "Cause": "Invalid response.",
      "Error": "ErrorA"
    },
    "Exacution-Succeeded": {
      "Type": "Succeed"
    }
  }
}
