SFN_Definition.json
{
  "Comment": "A State Machine to ingest a zip file",
  "StartAt": "Run-Extract-Files-Job",
  "States": {
    "Run-Extract-Files-Job":{
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:458558152824:function:Extract-Files",
      "Next": "Check-Extraction-Job"
    },
    "Check-Extraction-Job":{
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:458558152824:function:Check-Extraction-Job",
      "Next": "Is Extracting Job Finished?"
    },
    "Is Extracting Job Finished?":{
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.job_state",
          "StringEquals": "SUCCEEDED",
          "Next": "Run-CSV-Crawler"
        },
        {
          "Variable": "$.job_state",
          "StringEquals": "RUNNING",
          "Next": "Wait-20-Seconds"
        }
      ], "Default" : "Exacution-Failed"
    },
    "Wait-20-Seconds":{
      "Type": "Wait",
      "Seconds": 20,
      "Next": "Check-Extraction-Job"
    },
    
    "Run-CSV-Crawler": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:458558152824:function:Run-Crawler",
      "Next": "Check-CSV-Crawler-State"
    },
    "Check-CSV-Crawler-State": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:458558152824:function:file-ingester-check-crawler-state",
      "Next": "Is CSV Crawler Done?"
    },
    "Is CSV Crawler Done?":{
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.crawler_state",
          "StringEquals": "READY",
          "Next": "Run-CSV-To-Parquet-Job"
        },
        {
          "Variable": "$.crawler_state",
          "StringEquals": "RUNNING",
          "Next": "Wait-Ten-Seconds"
        },
        {
          "Variable": "$.crawler_state",
          "StringEquals": "STOPPING",
          "Next": "Run-CSV-To-Parquet-Job"
        }
      ],"Default": "Exacution-Failed"
    },
    "Wait-Ten-Seconds": {
      "Type": "Wait",
      "Seconds": 10,
      "Next": "Check-CSV-Crawler-State"
    },
    
    "Run-CSV-To-Parquet-Job" : {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:458558152824:function:Run-CSV-To-Parquet-Job",
      "Next": "Check-CSV-To-Parquet-Job-State"
    },
    "Check-CSV-To-Parquet-Job-State":{
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:458558152824:function:Check-CSV-To-Parquet-Job-State",
      "Next": "Is Job to convert CSV to parquet Done?"
    },
    "Is Job to convert CSV to parquet Done?":{
      "Type": "Choice",
      "Choices":[
        {
          "Variable": "$.job_state",
          "StringEquals": "SUCCEEDED",
          "Next": "Run-Crawel-On-Parquet-Folder"
        },
        {
          "Variable": "$.job_state",
          "StringEquals": "RUNNING",
          "Next": "Wait-30-Seconds"
        },
        {
          "Variable": "$.job_state",
          "StringEquals": "FAILED",
          "Next": "Exacution-Failed"
        },
        {
          "Variable": "$.job_state",
          "StringEquals": "TIMEOUT",
          "Next": "Exacution-Failed"
        },
        {
          "Variable": "$.job_state",
          "StringEquals": "STOPPED",
          "Next": "Exacution-Failed"
        }
      ],"Default": "Exacution-Failed"
    },
    "Wait-30-Seconds":{
      "Type": "Wait",
      "Seconds": 30,
      "Next": "Check-CSV-To-Parquet-Job-State"
    },
    
    "Run-Crawel-On-Parquet-Folder":{
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:458558152824:function:Crawel-On-Parquet-Folder",
      "Next": "Check-Parquet-Crawler-State"
    },
    "Check-Parquet-Crawler-State":{
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:458558152824:function:Check-Parquet-Crawler-State",
      "Next": "Is Parquet Crawler Done?"
    },
    "Is Parquet Crawler Done?":{
      "Type": "Choice",
      "Choices":[
        {
          "Variable": "$.crawler_state",
          "StringEquals": "SUCCEEDED",
          "Next": "Exacution-Succeeded"
        },
        {
          "Variable": "$.crawler_state",
          "StringEquals": "RUNNING",
          "Next": "Wait-25-Seconds"
        },
        {
          "Variable": "$.crawler_state",
          "StringEquals": "FAILED",
          "Next": "Exacution-Failed"
        },
        {
          "Variable": "$.crawler_state",
          "StringEquals": "TIMEOUT",
          "Next": "Exacution-Failed"
        },
        {
          "Variable": "$.crawler_state",
          "StringEquals": "STARTING",
          "Next": "Wait-25-Seconds"
        },
        {
          "Variable": "$.crawler_state",
          "StringEquals": "STOPPING",
          "Next": "Wait-25-Seconds"
        },
        {
          "Variable": "$.crawler_state",
          "StringEquals": "STOPPED",
          "Next": "Exacution-Failed"
        },
        {
          "Variable": "$.crawler_state",
          "StringEquals": "READY",
          "Next": "Exacution-Succeeded"
        }
      ],"Default": "Exacution-Failed"
    },
    "Wait-25-Seconds":{
      "Type": "Wait",
      "Seconds": 25,
      "Next": "Check-Parquet-Crawler-State"
    },
    
    "Exacution-Failed":{
      "Type": "Fail",
      "Cause": "Invalid response.",
      "Error": "ErrorA"
    },
    "Exacution-Succeeded": {
      "Type": "Succeed"
    }
  }
}